{% extends "app/base.html" %}

{% block title %}Bias Trainer{% endblock %}

{% block content %}

    <h3>Bias</h3>
    <blockquote>
        "a particular tendency, trend, inclination, feeling, or opinion, especially one that is preconceived or
        unreasoned"
    </blockquote>
    <hr>
    <ul>
        <li>
            <b><a href="">Anchoring</a></b>
            <blockquote>"people’s judgments are influenced by an obviously uninformative number"</blockquote>
        </li>
    </ul>
{% endblock %}