{% extends "app/base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
    <div id="vue-instance">

        <div v-show="hasContent">
            <br>
            {{ content|safe }}
            <br><br>
            <div class="question-content">
                <button v-on:click="toQuestion" style="width: 200px">
                    Got it!
                </button>
            </div>
        </div>

        <div v-show="!hasContent" class="question-content">
            <div v-show="!showQuestion">
                <div>
                    {{ bias_question.description }}
                </div>

                <div style=" margin-right: auto;
            margin-left: auto;width: 200px;padding-top:20px">
                    <button v-on:click="doShowQuestion" style="width: 200px">Okay
                        <small>
                            {% verbatim %}({{ counter }}){% endverbatim %}
                        </small>
                    </button>
                </div>

            </div>


            <div class="question" v-show="showQuestion">
                {{ question.description }}
                <br><br>
                <form action="/question/{{ id }}/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <br><br>
                    <input type="submit" value="Submit question" autofocus/>
                </form>
            </div>
        </div>

    </div>

    <script>
        // our VueJs instance bound to the div with an id of vue-instance
        var vm = new Vue({
            el: '#vue-instance',
            data: {
                showQuestion: false,
                counter: 5,
                hasContent: '{{ has_content }}' == 'True'
            },
            methods: {
                doShowQuestion: function () {
                    this.showQuestion = true;
                    setTimeout(function () {
                        document.getElementsByTagName("input")[1].focus();
                    }, 50);
                },
                startCounting: function () {
                    var self = this;

                    setInterval(function () {
                        self.counter -= 1;
                        if (self.counter <= 0) {
                            self.doShowQuestion();
                        }
                    }, 1000);
                },
                toQuestion: function () {
                    this.startCounting();
                    this.hasContent = false;
                }
            },
            created: function () {
                if (!this.hasContent) {
                    this.startCounting();
                }
                // do stuff
            }
        });
    </script>
{% endblock %}